<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Factura
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
	link(rel="stylesheet", href="main.css")
body
	.container
		.row
			h1.text-center FACTURA
			h1 PASO UNO:
		.row
			.col-md-6
				h3 Ingrese datos de Empresa			
			.col-md-6
				h3 Ingrese datos de Cliente
		.row
			.col-md-6
				p Nombre:
					input#nameEmp
				p Dirección:
					input#addressEmp
				p Telefono:
					input#phoneEmp
				p NIF:
					input#nifEmp
			.col-md-6
				p Nombre:
					input#nameCli
				p Dirección:
					input#addressCli
				p Telefono:
					input#phoneCli
				p DNI:
					input#dniCli
		button(onclick='registrarDatos()') SIGUIENTE

	.container
		.row
			h1.text-center FACTURA
			h1 PASO DOS:
		.row
			h3 Ingrese los datos de su compra
		.row
			p Selecciona la fruta que quieres comer
				select(id='producto')
					option(value=0) Kiwi
					option(value=1) Manzana
					option(value=2) Mandarina
					option(value=3) Uva
					option(value=4) Fresa
			p Selecciona la cantidad de fruta
				select(id='cantidad')
					option(value=0) 1 Kg.
					option(value=1) 2 Kg.
					option(value=2) 3 Kg.
					option(value=3) 4 Kg.
					option(value=4) 5 Kg.
			p Indica el precio
				input(placeholder='S/.')
		.row
			caption.text-center Verificar tu lista de compras
			table.table.table-condensed
				thead
					tr
						td FRUTA
						td PRECIO
						td CANTIDAD
				tbody
					tr
						td rsario
						td 20
						td 23445
					tr
						td jqwor
						td qjwfi
						td jfow
		button COMPRAR
	.container
		.row
			h1.text-center FACTURA
			.col-md-6
				h3 DATOS DEL PROVEEDOR
				h4 Nombre de Empresa
				h4 Dirección de Empresa
				h4 Teléfono de Empresa
				h4 NIF de Empresa
			.col-md-6
				h3 DATOS DEL CLIENTE
				h4 Nombre del cliente
				h4 Dirección de cliente
				h4 Teléfono de cliente
				h4 NIF de cliente
		.row
			h1 DETALLE
			caption.text-center Verificar tu lista de compras
			table.table.table-condensed
				thead
					tr
						td FRUTA
						td PRECIO
						td CANTIDAD
				tbody
					tr
						td rsario
						td 20
						td 23445
					tr
						td jqwor
						td qjwfi
						td jfow
		.row
			.col-md-8
				p SUB-TOTAL
				P IGV
				P TOTAL
			.col-md-4
				P WEF
				P EWT
				P WET
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	<!-- Latest compiled and minified JavaScript -->
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
	script(type="text/javascript" src='main.js')
	