<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Libreta de notas
	link(rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
	link(rel="stylesheet" href='style.css')
body
	.bg-1
		.container
			.row
				.col-md-4
					.bloque.uno
						h1.text-center
							em Bienvenido 
						i.fa.fa-book
						i.fa.fa-check
						i.fa.fa-calendar
						i.fa.fa-calculator
					.bloque.dos
					.bloque.tres
				.col-md-8
					button.pull-right.empezar.btn.btn-warning EMPEZAR
	.bg-2
		.container
			.row
				h1.text-center Aquí podrás registrar a tus alumnos
				hr
				.col-md-1
				.col-md-2
					label Nombre
					br
					br
					label Apellido
					br
					br
					label Edad
					br
					br
				.col-md-3
					input() 
					br
					br
					input()
					br
					br
					input()
					br				
					br				
				.col-md-1
				.col-md-2
					label N° de orden
					br
					br
					label Grado
					br
					br
					label Sección
					br
					br
				.col-md-3
					input() 
					br
					br
					input()
					br
					br
					input()
					br
					br
	.bg-3
		



	script(src='js/main.js')
